/* RESET global */
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd,
strong {
    margin-block-end: 0;
}

/* FIM RESET GLOBAL */

body {
    padding: 0;
    margin: auto;
    font-family: "Inter", sans-serif;
    width: 1000px;
    height: 300px;
}


h1 {
    font-size: 50px;
}

h2 {
    font-size: 30px;
}

hr {
    margin: 30px 0;
}


#cabecalho {
    background-color: #004ADB;
    width: 100%;
    height: auto;
    color: white;
    align-items: center;
    display: flex;
}

#titulos {
    /* padding: 25px 25px; */
}


#cabecalho ul {
    font-size: 20px;
    text-align: right;
    justify-items: right;

}

#cabecalho img {
    height: 250px;
    width: 250px;
    border-radius: 100%;
    background-color: #D9D9D9;
}

#imagem,
#contatos {
    padding: 20px 40px;
}

#contatos a {
    text-decoration: none;
    color: white;
}

#contatos a:hover {
    color: black;
}



#cabecalho h2 {
    font-size: 20px;
}

#cabecalho li {
    list-style: none;
}

#conteudo {
    background-color: #f1f1f1;
    padding: 0 100px;
    width: 100%;
    /* Certifique-se de que a largura esteja definida */
    overflow-wrap: break-word;
    /* Força quebra de linha se o texto for muito longo */
}

#conteudo h1,
#conteudo h2,
#conteudo h3,
#conteudo strong {
    color: #004ADB;
    /* margin: 15px 0; */
    padding: 15px 0;
}

/* .coluna-conteudo p {
    max-width: 100%;
    /* Garantir que os parágrafos não ultrapassem a largura da div */
word-wrap: break-word;
/* Quebra o texto longo */
}

#conteudo h2 {
    width: 850px;

}

.coluna-conteudo {
    padding: 30px 0;

}

.colunas-experiencias,
.colunas-sobre {
    padding-bottom: 40px;

}


/* .colunas-sobre,
.colunas-experiencias,
.colunas-complemento {
    padding: 20px 0; 
} */

.colunas-experiencias,
.colunas-complemento {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5%;
}

/* .coluna-esquerda ul li,
.coluna-direita ul li {
    list-style-position: inside;
} */

/* width: 100%;
  height: auto;
  background-color: orangered;
  padding: 0 60px;
  padding-top: 50px;
  padding-bottom: 30px;
  display: grid;
  grid-template-columns: 30% 60%;
  gap: 10%; */