/* RESET global */
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd,
strong {
    margin-block-end: 0;
}

/* FIM RESET GLOBAL */

body {
    padding: 0;
    margin: auto;
    font-family: "Inter", sans-serif;
    width: 1000px;
    height: 300px;
}

hr {
    margin: 30px 0;
}

#cabecalho {
    background-color: #004ADB;
    width: 100%;
    height: auto;
    color: white;
    align-items: center;
    display: flex;
}

#cabecalho h1 {
    font-size: 50px;
}

#cabecalho h2 {
    font-size: 30px;
}

#cabecalho ul {
    font-size: 20px;
    text-align: right;
    justify-items: right;
}

#cabecalho img {
    height: 250px;
    width: 250px;
    border-radius: 100%;
    background-color: #D9D9D9;
}

#titulos {
    padding: 20px;
}

#imagem,
#contatos {
    padding: 20px 40px;
}

#contatos a {
    text-decoration: none;
    color: white;
}

#contatos a:hover {
    color: black;
}

#cabecalho h2 {
    font-size: 20px;
}

#cabecalho li {
    list-style: none;
}

#conteudo {
    background-color: #f1f1f1;
    padding: 0 100px;
}

#conteudo h1,
#conteudo h2,
#conteudo h3,
#conteudo strong {
    color: #004ADB;
    padding: 15px 0;
}

.coluna-conteudo {
    padding: 30px 0;
}

.colunas-experiencias,
.colunas-sobre {
    padding-bottom: 40px;
}

.colunas-experiencias,
.colunas-complemento {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5%;
}